/* ===== GALERI ===== */

.galeri {
  padding: 50px 5%;
  background: #f6fbf9;
  text-align: center;
}

.galeri h1 {
  color: #1f6f54;
  margin-bottom: 30px;
}

/* grid */
.galeri-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

/* item */
.galeri-item {
  position: relative;
  overflow: hidden;
  border-radius: 14px;
  cursor: pointer;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

/* gambar */
.galeri-item img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  transition: 0.4s ease;
}

/* zoom hover */
.galeri-item:hover img {
  transform: scale(1.1);
}

/* overlay */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(31,111,84,0.85);
  color: white;
  padding: 12px;
  font-weight: 600;
  transform: translateY(100%);
  transition: 0.3s;
}

/* muncul saat hover */
.galeri-item:hover .overlay {
  transform: translateY(0);
}
.judul-galeri {
  text-align: center;
  margin-top: 20px;
  color: #1f6f54;
}

/* animasi item */
.galeri-item {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.6s ease;
}

.galeri-item.show {
  opacity: 1;
  transform: translateY(0);
}

/* lightbox */
.lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  z-index: 999;
}

.lightbox.show {
  visibility: visible;
  opacity: 1;
}

.lightbox-img {
  max-width: 90%;
  max-height: 85%;
  border-radius: 12px;
}

.close {
  position: absolute;
  top: 25px;
  right: 35px;
  font-size: 42px;
  color: white;
  cursor: pointer;
}